@model Puppy
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name <small>@Model.Gender</small></h1>

<p>
    @Model.Name is a wonderful dog @GetHeOrShe(Model.Gender) weighs @Model.Weight lbs and is
    @if (!Model.PaperTrained)
    {
        <text> NOT </text>
    }
    paper trained.

    <h5>
        <a asp-area="" asp-controller="Puppies" asp-action="Index">&lt; Back to Puppies</a>
    </h5>
</p>



@*
    HACK: Added convenience method below just to improve the paragraph text to refer to "he" of "she".
    This could be refactored away to a more usable location. For instance a read only lamda
    property could be created directly on the Puppy model.

    public string HeOrShe => 
        string.IsNullOrWhiteSpace(Gender) && Gender.Equals("female", StringComparison.InvariantCultureIgnoreCase)) ? "she":"he";
*@

@functions{
    public string GetHeOrShe(string gender)
    {
        if (!string.IsNullOrWhiteSpace(gender)
          && gender.Equals("female", StringComparison.InvariantCultureIgnoreCase))
        {
            return "she";
        }
        return "he";
    }
}